#searchResult {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60vw;
}

#table {
    display: flex;
    flex-direction: column;
    border: 1px solid brown;
    width: 100%;
}

#thead, #tbody {
    display: flex;
    flex-direction: column;
}

#thTr, #tbodyTr {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#thTr > div, #tbodyTr > div {
    padding: 8px;
    border-bottom: 1px solid;
    width: 100%;
    border-right: 1px solid brown;
}

#thTr > div {
    font-weight: bold;
}

/* mobile devices */
@media only screen and (max-width:767px){
    #searchResult {
        width: 100%;
    }
    
    #thTr > div, #tbodyTr > div {
        width: 35vw; /* Make columns take full width on mobile */
        flex: none;
    }

    #table {
        overflow-x: auto;
    }
}

/* desktop */
@media only screen and (min-width:768px){
    #table {
        width: 100%;
        max-width: 1000px;
    }

    #thTr > div, #tbodyTr > div {
        flex: 1;
    }
}