.capitalize {
    text-transform: capitalize;
}

/* Desktop devices */
@media only screen and (min-width:768px) {
    .bookCard {
        display: flex;
        gap: 1rem;
        justify-content: left;
        border: 2px solid;
        border-radius: 5px;
    }
}

/* Mobile devices */
@media only screen and (max-width:767px){
    .bookCard {
        display: flex;
        gap: 1rem;
    }

    .bookCard img{
        width: 30vw;
    }
}