
@media screen and (min-width: 768px) {
    #bookShelfResults {
        width: 85vw;
        text-align: center;
    }

    #searchBooksDiv .search-form #search-friends {
        height: 3.65vh;
        box-sizing: border-box;
        border: 0.5px solid #ddd;
        width: 13vw;
        /* text-align: center; */
    }
}