
@media screen and (min-width: 768px) {
    #bookShelfResults {
        width: 85vw;
        text-align: center;
    }

    #searchBooksDiv .search-form #search-friends {
        height: 3.65vh;
        box-sizing: border-box;
        border: 0.5px solid #ddd;
        width: 13vw;
        /* text-align: center; */
    }

    .review-button {
        padding: 5px 10px;
        /* font-size: 12px; */
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
    }

    .review-button:hover {
        background-color: #0056b3;
    }

    .view-button {
        padding: 2px 10px;
        /* font-size: 12px; */
        color: white;
        background-color: #29b637;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
    }

    .read-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
        cursor: pointer;
        width: 6.3vw;
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        background-color: #fd7e14;
    }

    .actionBtns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
    }
}