

.currentlyReading, .socialCards {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color:#d0c37f; /*#695e55f5, #d0c37f #898887*/
    color: #000;
}

#currentlReadingBooks .fallBackMsg, #socialCardUpdates .fallBackMsg {
    text-align: center;
    height: 10vh;
}

#currentlReadingBooks {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.dashboardHeadings {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 24px;    
}

#recommendations {
    text-align: center;
    background-color: #d0c37f;
    padding-top: 7vh;
}

.dashboardContent h3, .dashboardContent h3 a {
    color: #000;
}

#recommendationHeading {
    color: #000;
}

#socialCardUpdates {
    height: 65vh;
    overflow-y: auto;
}

@media only screen and (min-width:768px) {

    .upperHalf {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 20px 0;
        width: 95%;
    }

    .lowerHalf {
        width: 95%;
    }

    .dashboardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }

    #recommendations {
        text-align: center;
        border: 2px solid #ddd;
        /* width: 90vw; */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    }

    #recommendations img {
        height: 30vh;
        width: fit-content;
    }

    #recommendation {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

/* mobile devices */
@media only screen and (max-width:767px){

    #searchBooksDiv {
        width: 100%;
    }

    .dashboardContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding: 10px; */
        gap: 1rem;
    }
}

/* <a href="https://www.freepik.com/free-vector/blank-user-circles_134996379.htm#query=default%20user&position=5&from_view=keyword&track=ais&uuid=f2a94e02-4925-4ebe-b72a-85ee7504f89f">Image by juicy_fish</a> on Freepik*/