.dashboardContent {
    display: flex;
}

@media only screen and (min-width:768px) {
    .dashboardContent {
        justify-content: space-evenly;
        margin-top: 10vh;
        gap: 1rem;
        /* align-items: center; */
    }

    /* .bookCard {
        display: flex;
        gap: 1rem;
    } */
}

/* mobile devices */
@media only screen and (max-width:767px){
    #searchBooksDiv {
        width: 100%;
    }

    .dashboardContent {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        gap: 1rem;
    }

    /* .bookCard {
        display: flex;
        gap: 1rem;
    }

    .bookCard img{
        width: 30vw;
    } */
}

/* <a href="https://www.freepik.com/free-vector/blank-user-circles_134996379.htm#query=default%20user&position=5&from_view=keyword&track=ais&uuid=f2a94e02-4925-4ebe-b72a-85ee7504f89f">Image by juicy_fish</a> on Freepik*/