#headerDiv {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: #94712a;/*FFD700*/
    gap: 32vw;
}

.logo img {
    max-height: 10vh;
    width: fit-content;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    padding: 0;
}

nav ul li {
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    background: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

nav ul li button:hover,
.active {
    color: #000000;
    background-color: #d0c37f;
    border-radius: 8px;
    display: block;
    padding: 0 4px;
}

/* logo css */
.logo {
    font-family: 'Arial Black', sans-serif;
    font-size: 36px;
    color: #ff6347;
    /* Coral color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Adding shadow */
    letter-spacing: 2px;
    /* Adjust letter spacing */
}

.logoLink {
    color: #ff6347;
}

.logo span {
    position: relative;
}

.logo span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    /* Adjust thickness of underline */
    background-color: #ff6347;
    /* Same color as text */
    bottom: -5px;
    /* Adjust distance from text */
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.logo span:hover::after {
    transform: scaleX(1);
}

.content {
    display: flex;
    justify-content: center;
    margin: 3vh;
}

/* User Profile */
.user-profile {
    display: flex;
}

#profile-panel {
    position: absolute;
    top: 12.5vh;
    right: 0;
    width: 25vh;
    text-transform: capitalize;
    background-color: #d0c37f;
}

.user-profile img {
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    object-fit: cover;
}

#profile-panel ul li {
    list-style: none;
    padding: 0.1;
}

.search-form button{
   font-size: 16px;
}

#search-books {
    height: 23.6px;
    box-sizing: border-box;
    border: none;
}

h2, h3 {
    text-align: center;
}

/* Laptop/Desktop Css */
/* @media screen and (min-width: 1024px) {
    .content {
       padding-top: 5vh;
    }
} */

@media screen and (min-width:768px) {
    .content {
        padding: 3vh;
    }

    .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #searchBooksDiv .search-form #search-books {
        height: 100%;
        box-sizing: border-box;
        border: none;
        width: 13vw;
        height: 3.65vh;
    }

    header nav {
        width: 30vw;
    }

    #searchBooksDiv {
        width: 65vw;
    }

    #searchResult {
        margin-top: 2rem;
    }

    header {
        padding: 10px 35px;
    }
}

@media only screen and (max-width:767px){
    header {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .logo {
        text-align: center;
    }

    .logo img {
        max-height: 30px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        height: auto;
        line-height: 1;
    }

    .user-profile {
        position: absolute;
        top:1vh;
        right:2vw;
    }

    #profile-photo {
        width: 40px;
        height: 40px;
    }

    #profile-panel {
        position: absolute;
        right: 0;
        width: 25vh;
        text-transform: capitalize;
        top:5vh;
        background-color: aquamarine;
    }

    .failureMessage {
        display: block;
        text-align: center;
    }

    .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #friendsDiv .search-form #search-friends {
        width: 52vw;
        height: 3.35vh;
    }

    .content {
        margin: 0;
    }
}