@media screen and (min-width: 768px) {
    .reviewContent h3 {
        text-align: center;
    }

    .reviewContentValue textarea {
        width: 100%;
        height: 15vh;
    }

    .reviewContentValue {
        padding: 5px;
        width: 48vw;
        border: 2px solid #ddd;
        display: flex;
    }

    .reviewContent {
        border: 2px solid #ddd;
        margin: 2%;
    }

    .reviewContent .contentRow .contentLabel {
       width: 18vw;
    }

    .successMessage {
        color: green;
        background-color: #d1ecf1;
        border-color: #d6e9c6;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        text-align: center;
    }

    .reviewComment {
        color: #796f6fd5;
    }
}

@media screen and (max-width:767px){
    .reviewContent form {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .reviewContent form .contentRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #ddd;
    }
}