#signInDiv, #signUpDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* gap: 0.5rem;*/
}

#signInDiv label, #signUpDiv label {
    display: block;
    font-weight: bold;
    text-align: left;
    padding: 5px;
}

#signInDiv h2, #signUpDiv h2 {
    text-align: center;
}

/* #signInDiv, #signUpDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
} */

#signInDiv div, #signUpDiv div {
    margin-bottom:10px;
    width: 100%;
    text-align: center;
}

#signInDiv input, #signUpDiv input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#signInDiv button, #signUpDiv button {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.failureMessage {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.infoMessage {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.errorMessage {
    color: red;
    text-align: left;
    margin: 0;
}

#newToBookshelf, #alreadyAMember {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
}

#terms_policy {
    text-align: justify;
}

button[disabled] {
    background-color: #676d6ef5!important;
}

@media screen and (max-width:767px){
    .infoMessage {
        display: block;
        color: #0c5460;
        background-color: #d1ecf1;
        border-color: #d6e9c6;
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 4px;
    }    
}